*{
    margin:0;
    padding:0;
}
ul{
    list-style-type: none;
}
/*global start*/
.content{
    width:1226px;
    margin:0 auto;
}
.clearfix:after{
    content: "";
    clear:both;
    display:block;
}
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*global end*/
/*topbar start*/
.topbar{
    width:100%;
    height:40px;
    line-height: 40px;
    background-color: #333;
    color:#424242;
    font-size: 12px;
}
.topbar .topbar-left{
    float:left;
}
.topbar span{
    margin:0 3px;
}
.topbar a{
    color:#b0b0b0;
    text-decoration: none;
}
.topbar a:hover{
    color: #dddddd;
}
.topbar .topbar-right{
    float:right;
}
.topbar .car-mini{
    background-color:#424242;
    display:block;
    height:40px;
    width:120px;
    float:right;
    text-align:center;
    margin-left:30px;
    /*padding:20px 0;*/
}
.topbar .car-mini:hover{
    color:#f56600;
}
/*topbar end*/
/*header start*/
.header .content{
    padding:20px ;
}
.header .header-left{
    float:left;
}
.header .header-left a{
    display:block;
    height:55px;
    width:55px;
    background-color:#ff6700;
}
.header .header-left a:after{
    content:"";/*after伪类，没有作用范围，只有加上content，content里面为空，然后对content进行操作*/
    width:55px;
    height:55px;
    display:block;
    background: url("../img/mi-logo.png") no-repeat 50% 50%;
    /*background: url("../img/mi-logo.png") center;*/
    /*background-image: url("../img/mi-logo.png");*/
}
.header .header-center{
    float:left;
    margin-left: 150px;
}
.header .header-center ul{
    list-style-type: none;
}
.header .header-center li{
    float:left;/*导航类推荐ul标签，li浮动，也可以用inline-block*/
    height:55px;
    line-height:55px;
    padding:0 10px;
}
.header .header-center a{
    color:#333;
    font-size:16px;
    text-decoration: none;
}
.header .header-right{
    float:right;
    position:relative;
}
.header .header-right input{
    height:48px;
    width: 221px;
    padding:0 5px;
    border: 1px solid #e0e0e0;
    /*float:right;*//*input 和btn都浮动的时候，有浮动的顺序*/
}
.header .header-right .search-btn{
    /*display:block;*/
    float:right;
    height:48px;
    width:48px;
    border: 1px solid #e0e0e0;
    margin-left: -1px;
}
.header .search-btn{
    text-decoration: none;
    font-size:24px;
    color:#616161;
    text-align: center;
    line-height: 48px;
}
.header .search-btn i{
    font-size: 24px;
}
.header .header-right .input-text{
    position:absolute;
    /*top:50%;*/
    /*right:50%;*/
    /*margin-top:-10px;*/
    /*margin-right:-82px;!*比分比的形式不可取*!*/
    top:15px;
    right:55px;
    /*position:relative;*/
    /*top:-36px;*/
    /*right:-69px;*/
}
.header .input-text a{
    text-decoration: none;
    margin-left:5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
}
.header .input-text a:hover{
    color:#ffffff;
    background-color: #ff6700;
}
/*header end*/
/*slider-bar start*/
.slider-bar .slider-site{
    position:relative;
    height:460px;
}
.slider-bar .slider-content{
    width:1226px;
    height:460px;
    background-color:yellow;
    position:absolute;
    top:0;
    left: 0;
}
.slider-bar .slider-left{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}
.slider-bar .slider-icon .si-top{
    position: absolute;
    /*top:100px;*/
    top:50%;/*用百分比必须保证父级有高度，直接用数值不会存在问题*/
    left:234px;
    height:70px;
    /*width: 992px;*/
    margin-top: -35px;
    background:blue;
    width: 990px;
}
.slider-bar .si-top a{
    display: block;
    width:41px;
    height: 69px;
    background-color: #00d20d;
    float: left;
}
.slider-bar .si-top a:last-child{
    float: right;
}
.slider-bar .si-bottom{
    position:absolute;
    bottom:35px;
    right:65px;
    background-color:#d32f2f;
}
.slider-bar .si-bottom li{
    float: left;
}
.slider-bar .si-bottom a{
    display:block;
    width:10px;
    height:10px;
    border-radius: 50%;
    border:1px;
    border-color: rgba(255,255,255,0.3);
    background: rgba(0,0,0,0.4);
}
/*slider-bar end*/